.woocommerce-notices-wrapper {
  margin: 1rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(black, 0.1);

  .woocommerce-message,
  .woocommerce-info,
  .woocommerce-error,
  .woocommerce-noreviews,
  p.no-comments {
    padding: 1rem;
    text-align: center;
    color: rgba(white, 0.9);
  }
  .woocommerce-error {
      border-left: 5px solid rgba(darkred, 1);
  }
  .woocommerce-message {
    border-left: 5px solid rgba(darkgreen, 1);
  }

  ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
}
