.single-product {
    .variations {
        align-items: center;

        .variation-row {
            min-width: 200px;
            width: calc(100% - 2rem);
            max-width: 400px;
            margin: 0.5rem 1rem;
        }
    }

}

form.variations_form.cart {
    display: flex;
    flex-direction: column;

    .single_variation_wrap {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

}