.home-about-section {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffe6d9;
  overflow: hidden;
  position: relative;
  margin-bottom: -15rem;

  .home-about-section__heading,
  .home-about-section__content,
  .home-about-section__footer {
    z-index: 2;
    padding: 1rem 2rem;
  }

  &::before,
  &::after {
    height: 15rem;
    width: 15rem;
    position: absolute;
    content: "";
    transform: skew(125deg) rotate(45deg);
    border-radius: 10px;
    z-index: 1;
  }
  
  .home-about-section__heading {
    margin-top: 4rem;

    a.home-about-section-header__link {
      font-size: 1rem;
      color: inherit;

      &:focus,
      &:hover {
        color: $color__link-hover;

        .tooltip__right {

        }
      }
    }
  }
  .home-about-section__content {
    h4 {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0.5rem 0;
    }
    p{
      margin-bottom: 1.5rem;
    }
  }
  .home-about-section__footer {
    margin-bottom: 15rem; 

    p.home-about-section-footer__heading {
      font-weight: 400;
      font-size: 1.5rem;
    }
    .home-about-section-footer__button {
      border: 2px solid;
      border-color: $color__border-button;
      border-radius: 5rem;
      background: $color__text-screen;
      color: rgba( $color__link-hover, 0.9 );
      padding: 0.6rem 1rem;
      transition: 0.3s ease;
    
      &:hover {
        border-color: $color__border-button-hover;
        background-color: $background__link-hover;
        color: $color__link-hover;
      }
      
      &:active,
      &:focus {
        border-color: $color__border-button-focus;
        background-color: $background__link-hover;
        color: $color__link-hover;
      }
    }
  }

  &::before {
    top: -5rem;
    left: -5rem;
  }
  &::after {
    bottom: -5rem;
    right: -5rem;
  }

  &.blue-square-before {
    &::before {
      background-color: rgba(royalblue, 0.6);
    }
  }
  &.yellow-square-before {
    &::before {
      background-color: rgba(yellow, 0.6);
    }
  }
  &.green-square-before {
    &::before {
      background-color: rgba(green, 0.6);
    }
  }
  &.red-square-before {
    &::before {
      background-color: rgba(red, 0.6);
    }
  }
  &.blue-square-after {
    &::after {
      background-color: rgba(royalblue, 0.6);
    }
  }
  &.yellow-square-after {
    &::after {
      background-color: rgba(yellow, 0.6);
    }
  }
  &.green-square-after {
    &::after {
      background-color: rgba(green, 0.6);
    }
  }
  &.red-square-after {
    &::after {
      background-color: rgba(red, 0.6);
    }
  }
}
