.stuffs-drawer-menu__content {
    .drawer-cart {
        position: relative;

        ul.cart_list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: flex;
                margin: 0.5rem 1rem;
                padding: 1rem;
                background-color: #eee;

                &:first-child {
                    margin-top: 1rem;
                }

                &:last-child {
                    margin-bottom: 1rem;
                }

                img {
                    width: 75px;
                    height: 75px;
                }
            }
        }

        .drawer-cart-footer {
            position: sticky;
            bottom: 0;
            background-color: royalblue;
            color: rgba(#fff, 0.9);
            border-top: 1px solid rgba(black, 0.1);
            padding: 1rem;

            p {
                margin: 0;
            }
        }
    }
}