$color__background-body: #fff;
$color__background-header: #fff;
$color__background-footer: #333;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-footer: #fff;
$color__link: #4169e1; // royalblue
$color__link-visited: inherit; 
$color__link-hover: #fff;
$color__link-border-focus: #FFC45D;
$color__text-main: #404040;
$background__link-hover: #191970; // midnightblue;

$color__border-button: transparent;
$color__border-button-hover: #FFC45D;
$color__border-button-focus: #FFC45D;
$color__border-input: #FFC45D;
$color__border-abbr: #FFC45D;