button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	line-height: 1;
	border: 2px solid;
	border-color: transparent;
	border-radius: 5rem;
	color: $color__text-button;
	padding: 0.6rem 1rem;
	transition: 0.3s ease;
	cursor: pointer;
	font-weight: bold;
	align-items: center;

	&:hover {
		border-color: $color__border-button-hover;
		color: $color__text-button-hover;
		background-color: $color__background-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
